/* You can add global styles to this file, and also import other style files */
$error-color: #dc3545;
$valid-color: #28a745;

html, body, .content-container {
  height: 100%;
}
input[type=number] {
  width: 40px;
}

.main-container {
  height: calc(100% - 60px);
}

body {
  padding: 20px;
}

.form-control.ng-touched {
  &.ng-invalid {
    border-color: $error-color;
  }
  &.ng-valid {
    border-color: $valid-color;
  }
}

.invalid-feedback {
  display: block;
  visibility: hidden;

  &.show {
    visibility: initial;
  }
}

.form-group {
  margin-bottom: 0;
}

